<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>LINE風チャット画面(会話方式)を記事に表示する方法 │ ナコさんのブログ nako-log WEB小ネタと生活ライフハック</title>
  <link rel='stylesheet' href='style.css' type='text/css' media='all' />
</head>
<body>

  <!-- ▼LINE風ここから -->
  <div class="line__container">
    <!-- タイトル -->
    <div class="line__title">
      うさきち友の会
    </div>

    <!-- ▼会話エリア scrollを外すと高さ固定解除 -->
    <div class="line__contents scroll">

      <!-- 相手の吹き出し -->
      <div class="line__left">
        <figure>
          <img src="icon.png" />
        </figure>
        <div class="line__left-text">
          <div class="name">うさきち</div>
          <div class="text">ねぇねぇ、帰ってくるのおそいんだけど！！今どこいまどこいまどこーー</div>
        </div>
      </div>

      <!-- 相手のスタンプ -->
      <div class="line__left">
        <div class="stamp"><img src="./stamp/13.png" /></div>
      </div>

      <!-- 相手の吹き出し -->
      <div class="line__left">
        <figure>
          <img src="icon.png" />
        </figure>
        <div class="line__left-text">
          <div class="name">うさきち</div>
          <div class="text">今から帰るよー</div>
        </div>
      </div>

      <!-- 自分の吹き出し -->
      <div class="line__right">
        <div class="text">了解！寝過ごさないようにだよ〜風呂ためとこ</div>
        <span class="date">既読<br>0:30</span>
      </div>

      <!-- 自分のスタンプ -->
      <div class="line__right">
        <div class="stamp"><img src="./stamp/22.png" /></div>
        <span class="date">既読<br>0:30</span>
      </div>

    </div>
    <!--　▲会話エリア ここまで -->
  </div>
  <!--　▲LINE風ここまで -->

</body>

</html>
