<div class="cont2">
  <div class="post-left">
    <img src="<%= "/profile/top_image.jpg" %>">
    <h4 style="font-size:18px;font-weight:600;margin-top:2px;">Kazuhiro Owada</h4>
    <a href="https://twitter.com/Ochanyoroshiku" style="font-size:16px"><i class="fab fa-twitter size"></i></a><a href="https://www.instagram.com/o_style.ins" style="font-size:18px"><i class="fab fa-instagram size2"></i></a>
    <a href="https://github.com/Ochanyoro" style="font-size:18px"><i class="fa fa-github" aria-hidden="true"></i></a>
    <br>
    <div class="pro mt-2">
    <i class="fas fa-school" style="font-size:12px;"><font style="padding-left:7px;">小山高専</font></i><br>
    </div>
    <div class="pro">
    <i class="fas fa-address-book"><font style="padding-left:10px;">21 (1999)</font></i>
    </div>
    <div class="pro">
    <i class="fa fa-home" aria-hidden="true"><font style="padding-left:10px;">栃木県</font></i>
    </div>
  </div>
  <div class="post-right">
    <div class="posts-index-item">
      <i class="fa fa-tags size3" aria-hidden="true"></i><font>studying now</font><br>
      <font class="study">ruby</font>
      <font class="study">Rails</font>
      <font class="study">python</font>
      <font class="study">django</font>
      <font class="study">flask</font>
      <font class="study">jquery</font>
      <font class="study">javascript</font>
      <font class="study">css</font>
      <font class="study">bootstrap</font>
      <font class="study">c</font>
      <font class="study">java</font>
      <font class="study">Kotlin</font>
      <font class="study">awt</font>
      <font class="study">AI</font>
      <font class="study">keras</font>
      <font class="study">TensorFlow</font>
      <font class="study">RNN</font>
      <font class="study">image2vec</font>
      <font class="study">word2vec</font>
      <font class="study">sql</font>
      <font class="study">CNN</font>
      <font class="study">DeepLearning</font>
      <font class="study">English</font>
    </div>
  </div>
</div>
