.cont2 {
  width:100%;
  clear: both;
  height:250px;
  padding:15px;
}

.cont2 .post-left {
    width: 40%;
    height: 100%;
    float: left;
    padding-top: 5px;
    text-align: center;
}
.cont2 .post-left img {
    width: 70px;
    height: 70px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    -o-object-fit: cover;
    object-fit: cover;
}

.cont2 .post-right {
    width: 60%;
    height: 100%;
    float: left;
    padding-left: 15px;
    text-align: center;
}

.cont2 .posts-index-item {
  margin-top: 5px;
  min-height:94%;
  width:100%;
  padding: 1px 2px;
  text-align: left;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
.title{
  width:100%;
  padding:15px;
  height:50px;
}

.title h6 {
  position: relative;
  padding: 0.3rem 1rem calc(0.6rem + 6px);
  background: #fff100;
}

.title h6:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 3px solid #000;
}

.title img{
  position:relative;
  top:-30px;
  left:70px;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 0 2px 6px #c1ced7;
  -o-object-fit: cover;
  object-fit: cover;
}

.line{
  width:95%;
  margin:0 auto;
}


// color
$titleColor:   #273246; //タイトル背景色
$baseColor:    #7494c0; // 背景色
$myTextColor:  #8de055; // 吹き出しの色

/*///////////////////////////////////////////////*/

.line__container {
  padding:10px;
  padding-left: 5px;
  padding-right: 5px;
  width:92%;
  overflow: hidden;
  margin: 0px auto;
  font-size: 80%;
  border:1px dashed #444;

  /* 会話部分 */
  .line__contents {
    padding: 0px;
    overflow: hidden;
    line-height: 135%;

    /* 相手の会話 */
    .line__left {
      width:100%;
      position: relative;
      display: block;
      margin-bottom: 5px;
      max-width: 70%;
      clear: both;

      /* アイコン画像 */
      figure {
        width: 40px;
        position: absolute;
        top: 4px;
        left: 0;
        padding: 0;
        margin: 0;
        /* 正方形を用意 */
        img{
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }

      .line__left-text {
        max-width: 100%;
        margin-left: 60px;
        text-align: left;
        .name {
          font-size: 80%;
          color: #222;
        }
      }
      /* コメントエリア */
      .text {
        font-size: 11px;
        margin: 0;
        position: relative;
        padding: 10px;
        padding-top:5px;
        padding-bottom:5px;
        border-radius: 20px;
        background-color: rgba(219,237,255,0.5);
        /* 吹き出し */
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          left: -10px;
          top: 2px;
          border-right: 20px solid rgba(219,237,255,0.5);
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }

      }
     }
      /* 自分の会話 */
      .line__right {
        min-height: 45px;
        text-align: left;
        position: relative;
        display: block;
        margin: 5px 0;
        max-width: 80%;
        float: right;
        margin-right: 40px;
        clear: both;
        /* コメントエリア */
        .text {
          max-width:72%;
          word-wrap: break-word;
          float:left;
          font-size: 11px;
          padding: 10px;
          padding-top:5px;
          padding-bottom:5px;
          border-radius: 20px;
          background-color: #fde5e5;
          margin: 0;
          margin-top: 7px;
          margin-right: 15px;
          margin-left: 60px;
          /* 吹き出し */
          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            right: 3px;
            top: 12px;
            border-left: 20px solid #fde5e5;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
        }
        figure {
          width: 40px;
          position: absolute;
          top: 0px;
          left: 100%;
          padding: 0;
          margin: 0;
          /* 正方形を用意 */
          img{
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }
        }

        /* 既読エリア */
        .date {
          content: '';
          position: absolute;
          display: block;
          width: 100px;
          text-align: right;
          left: -30px;
          bottom: 0px;
          font-size: 80%;
          color: #ffffff;
        }
      }
  }
}
